<h2>My Villains</h2>
<ul class="villains">
  <li *ngFor="let v of villains" 
             [class.selected]="v === selectedVillain"
             (click)="onSelect(v)">
    <span class="badge">{{v.id}}</span> {{v.name}}
  </li>
</ul>  


<!-- <villain-detail [villain]="selectedVillain"></villain-detail> -->

<div *ngIf="selectedVillain">
  <h2>
    {{selectedVillain.name | uppercase}} is my villain
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>


<app-messages></app-messages>
